body {
    margin: 0px;
}

#game-canvas {
    border: 1px solid #000;
    display: block;
    margin: auto;
}

#first-page, #second-page, #third-page {
    position: relative;
    border: 1px solid #000;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    
}

#first-page >* #second-page>* #third-page>* {
    position: absolute;
} 

#page-1-bg, #page-2-bg, #page-3-bg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

#play-btn, #easy-btn {
    position: absolute;
    display: inline;
    left: 35%;
    top: 36%;
    width: 30%;
}

#ctrl-btn, #medium-btn {
    position: absolute;
    display: inline;
    left: 35%;
    top: 54%;
    width: 30%;
}

#about-btn, #hard-btn {
    position: absolute;
    display: inline;
    left: 35%;
    top: 72%;
    width: 30%;
}

#back-btn {
    position: absolute;
    display: inline;
    left: 3%;
    top: 85%;
    width: 17%;
}

#dragon-1 {
    position: absolute;
    display: inline;
    left: 6%;
    top: 52%;
    width: 25%;
    margin: auto;
}

#dragon-0 {
    position: absolute;
    display: inline;
    left: 35%;
    top: 52%;
    width: 25%;
    margin: auto;
}

#dragon-2 {
    position: absolute;
    display: inline;
    left: 64%;
    top: 52%;
    width: 25%;
    margin: auto;
}

.btns:hover {
    transform: scale(1.1, 1.1);
}
