
#game-canvas {
    border: 1px solid #000;
    display: block;
    margin: auto;
}

 #first-page #second-page {
    position: relative;
    display: block;
    margin: auto;
    border: 1px solid #000;
    width: 450px;
    height: 600px;
}
  
#first-page >* #second-page>* {
    position: absolute;
} 

#page-1-bg #page-2-bg {
    position: absolute;
    left: 0px;
    top: 0px;
}

#play-btn, #easy-btn {
    position: absolute;
    display: inline;
    left: 96px;
    top: 215px;
}

#ctrl-btn, #medium-btn {
    position: absolute;
    display: inline;
    left: 96px;
    top: 315px;
}

#about-btn, #hard-btn {
    position: absolute;
    display: inline;
    left: 96px;
    top: 415px;
}

.btns:hover {
    transform: scale(1.1, 1.1);
}

.dragon-img {
    width: 160px;
    height: 160px;
    display: block;
    border: 1px solid #000;
    margin: auto;
}

#third-page {
    border: 1px solid #000;
    width: 450px;
    height: 600px;
}
p {
    font-size: 28px;
}